# --- Local Development ---
# KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9093,localhost:9094
# KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
# KAFKA_USERNAME=your_username
# KAFKA_PASSWORD=your_password
# KAFKA_TOPIC=stock-stream

# --- Docker (Same VM as Kafka) ---
# KAFKA_BOOTSTRAP_SERVERS=kafka-1:29092,kafka-2:29092,kafka-3:29092
# KAFKA_SECURITY_PROTOCOL=PLAINTEXT
# KAFKA_TOPIC=stock-stream
# KAFKA_DOCKER_NETWORK=kafka-boilerplate_default

# --- Docker (Remote Kafka) ---
# KAFKA_BOOTSTRAP_SERVERS=<remote-ip>:9092,<remote-ip>:9093,<remote-ip>:9094
# KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
# KAFKA_USERNAME=your_username
# KAFKA_PASSWORD=your_password
# KAFKA_TOPIC=stock-stream